services: # 이 항목 밑에 실행하려는 컨테이너 들을 정의 ( 컴포즈에서 컨테이너 : 서비스 )
  db: # 서비스 명
    image: mysql:8.0 # 사용할 이미지
    restart: always
    container_name: mysql-test # 컨테이너 이름 설정
    ports:
      - "3316:3306" # 접근 포트 설정 (컨테이너 외부:컨테이너 내부)  <- 컨테이너 내부는 무조건 3306
    environment: # -e 옵션
      - MYSQL_DATABASE=test
      - MYSQL_ROOT_PASSWORD=1234  # MYSQL 패스워드 설정 옵션
      - TZ=Asia/Seoul

    command: # 명령어 실행
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
#      - --lower_case_table_name=1
    volumes:
      - ~/data/mysql-test:/var/lib/mysql # -v 옵션 (다렉토리 마운트 설정)
  redis: # Redis 서비스 추가
    image: "redis:alpine" # 경량 Redis 이미지 사용
    container_name: redis-test # 컨테이너 이름 설정
    ports:
      - "16379:6379" # Redis의 기본 포트 6379를 외부에 노출
    restart: always # 컨테이너 재시작 설정
    volumes:
      - ~/data/redis:/data # Redis 데이터 파일을 로컬에 마운트
