
server:
  tomcat:
    max-http-form-post-size: 5MB

spring:
  profiles:
    active: local

  jpa:
    hibernate:
      ddl-auto: update
#    show-sql: true
    properties:
      hibernate:
        format_sql: true

  thymeleaf:
    cache: false
app:
  host: http://localhost:8081


logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              org.hibernate.type.descriptor.sql.BasicBinder: TRACE