<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body >
    <div th:if="${error}">
        <p >Study Cafe Email Verification</p>
        <div >
            이메일 확인 링크가 정확하지 않습니다.
        </div>
    </div>
    <div th:if="${error == null}">
        <p >Study Cafe Email Verification</p>
        <h2>
            Your email has been verified. Congratulations on joining as <span th:text="${numberOfUser}"></span> of our members,
            <span th:text="${nickname}">TonyLim</span>.
        </h2>
        <small>You can now log in with the email or nickname and password you used when signing up.</small>
    </div>
</body>
</html>