<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Study Cafe</title>
</head>
<body>
  <div>
      <p>Hello. <span th:text="${nickname}"></span></p>
      <h2 th:text="${message}"></h2>

      <div>
          <a th:href="${host + link}" th:text="${linkName}">LINK</a>
          <p>If the link doesn't work, paste the URL below into your web browser.</p>
          <small th:text="${host + link}"></small>
      </div>
  </div>
  <footer>
        <small>Study Cafe&copy; 2024</small>
  </footer>
</body>
</html>